[user]
	name = username
	email = mail@example.org
[core]
	excludesfile = /path/to/.gitignore_global
	autocrlf = input
	editor = nano
[color]
	ui = true
[alias]
	co = checkout
	br = branch
	ci = commit
        hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[push]
	default = matching
