[user]
	name = "Alexander Harchenko"
	email = morontt@gmail.com
	signingkey = BCE79440
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	editor = nano
[color]
	ui = true
[alias]
	co = checkout
	br = branch
	ci = commit
	rb = rebase
	cp = cherry-pick
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[push]
	default = current
