# git clone https://github.com/nanorc/nanorc.git
# cd nanorc
# make install

include ~/.nano/syntax/javascript.nanorc
include ~/.nano/syntax/go.nanorc
include ~/.nano/syntax/lua.nanorc
include ~/.nano/syntax/markdown.nanorc
include ~/.nano/syntax/git.nanorc
include ~/.nano/syntax/lisp.nanorc
